/* mystyles.css */

html,
body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

img {
    max-width: 100%;
}

.section-content1 img{
vertical-align: auto;
}

.section-content1 .container{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 50%;
    padding: 50px;
    margin: 50px;
}

.navbar{
    background: rgba(0, 0, 0, 0.664);
}

.nav-link, .nav-brand{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-link{
    margin-left: 1em !important;
    color: white;
}

.content-row{
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.card{
    border-width: thin;
    padding: 0;
    text-align: center;
}

.card-title, .card-subtitle, .card-text{
    text-align: left;
}

.btn{
    float: left;
    background-color: rgba(141, 136, 136, 0.37);
    color: black;
    border: 2px solid #45494670; 
}

.pagination a{
        border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4d80dd;
    color: white;
    border: 1px solid #4d80dd;
}

.footer{
    background: rgba(0, 0, 0, 0.637);
    color: white;
   text-align: center;
   bottom: 0px;
   left: 0px;
   padding-top: 0px; 
}

.footer .footer-content{
    border: 1px solid red;
    height: 180px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    border: 1px solid white;
}

.carousel-caption{
    color: rgb(219, 135, 26);
    font-weight: bold;
    font-family:Palatino Linotype;
    font-size: 150%;
}

.col-md-4{
    border: 1px solid grey;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(img/sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.road{
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(img/road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 5s linear infinite;
}

@keyframes road{
    100%{
        transform: translateX(-3400px);
    }
}

.town{
    height: 250px;
    width: 500%;
    background-image: url(img/city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: town 20s linear infinite;
}

@keyframes town{
    100%{
        transform: translateX(-1400px);
    }
}

.walk{
    width: 400px;
    right: 60%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    transform: rotateY(180deg);
}

.running img{
    width: 100%;
}

.money{
    width: 400px;
    left: 80%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.job{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}